.results {
  background-color: white;
  margin: 24px 32px;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.male {
  background-color: rgb(58, 15, 228);
  margin: 24px 32px;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}

.female {
  background-color: rgb(223, 17, 48);
  margin: 24px 32px;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}